* {
    margin: 0;
    padding: 0; }
  
  body {
   background-color: rgb(146, 211, 146); 
    
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   min-width: 100%;
  }
  
  .nav__bar {
    background-color: #000;
    color: #fff; }
  
  .navigation__checkbox {
    display: none; }
  
  .navigation__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 1rem;
    right: 7rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  
  .navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
   top: 1.8rem;
    right: 7.5rem;
    background-image: radial-gradient(red, #521717);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #000; }
  
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  
  .navigation__item {
    margin: 1rem; }
  
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 1.5rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, grey 0%, #000);
    background-size: 200%;
    transition: all .4s; 
  }
    .navigation__link:link span, .navigation__link:visited span {
      margin: 1rem;
      display: inline-block; }
  
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: red;
    transform: translateX(1rem); }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  
  .navigation__icon {
    position: relative;
    margin-top: 2.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2rem;
      height: 2px;
      background-color: grey;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  

@media screen and (max-width: 768px) {

  .navigation__icon {
    
    margin-top: 2rem;
   }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 1rem;
      height: 1.5px;
      border-radius: 70%;
     
    }
  
    .navigation__button {
      background-color: #fff;
      height: 4rem;
      width: 4rem;
      position: fixed;
      right: 1rem;
      border-radius: 80%;
     
     }
    
    .navigation__background {
      height: 3rem;
      width: 3rem;
      border-radius: 80%;
      right: 1.6rem;
      
     
     
     }
    
     .navigation__icon::before {
      top: -.5rem; 
    }

    .navigation__icon::after {
      top: .5rem;
     }


     .navigation__link:link, .navigation__link:visited {
  
      font-size: 1rem;
      font-weight: 100;
      padding: 0.5rem 1rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, grey 0%, #000);
      background-size: 200%;
      transition: all .4s; 
    }
}


.title {
  background-color: #000;
  height: 100px;
  color: #fff;
}
.title h1 {
  margin: 10px;
}
.desc {
  margin: 15px;
}

img {
  width: 100%;
  height: 300px;
  
}

.btn-primary:hover {
 background-color: blue;
}
.btn-danger:hover {
  background-color: red;
 }
 .btn-info:hover {
  background-color: rgb(135, 235, 218);
 }
 .btn-success:hover {
  background-color: darkgreen;
 }

 .footer {
  background-color: #000;
  color: white;
  padding: 0.5;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	margin-top: auto;
 }
 .footer p {
  margin: 10px;
  text-transform: uppercase;
 }

 .about {
  margin: 20px;
  font-size: larger;
  font-weight: 400;
 }