<%- include ("../partials/header") %>
<div class="container">
<section class="about">
    <div>
       <h1>About</h1>
       <p>This blog website is a project built by Isdore Agoha , a full stack web developer.
        During my high school days i had always been intrigued by how the internet worked and this paved my career into web development which starrted way back in 2021. the disire actually drove into getting started as a  front web developer then transitioning into a full stack engineer.

        This blog site is a web space where you can publish your thoughts and ideas , built with Nodejs and Express.
       </p>
    </div>
</section>
</div>



<%- include ("../partials/footer") %>